<header>
  <div id="menuIcon">
  </div>
  <p>Players Connection</p>
  <div id="menu">
    <h3>Opzoek naar iets?</h3>
    <ul>
      <li>
        <a href="http://localhost:3000/">Home</a>
        <hr>
      </li>
      <li>
        <a href="http://localhost:3000/zoeken">Zoek match</a>
        <hr>
      </li>
      <li>
        <a href="http://localhost:3000/register">Toevoegen</a>
        <hr>
      </li>
      <li>
        <a href="http://localhost:3000/gebruikersdb">Alle gebruikers</a>
        <hr>
      </li>

    </ul>
  </div>
</header>
