<header>
  <div id="menuIcon">
  </div>
  <p>Players Connection</p>
  <div id="menu">
    <h3>Opzoek naar iets?</h3>
    <ul>
      <li>
        <a href="/">Home</a>
        <hr>
      </li>
      <li>
        <a href="/zoeken">Zoek match</a>
        <hr>
      </li>
      <li>
        <a href="/register">Toevoegen</a>
        <hr>
      </li>
      <li>
        <a href="/gebruikersdb">Alle gebruikers</a>
        <hr>
      </li>

    </ul>
  </div>
</header>
