<section>

<form action="index.html" method="post">
  <fieldset>
    <legend>Voeg je bordspel toe</legend>
    <label for="name">Naam:</label>
    <input type="text" name="name" value="">
    <label for="categorie">Categorie:</label>
    <input type="text" name=""categorie value="">
    <label for="">Spelers:</label>
    <input type="number" name="" value="" min="1" max="100">
    <input type="submit" value="Submit" class="submitKnop">
  </fieldset>
</form>

</section>
