<link rel="stylesheet" href="css/style.css">

<section>
  <div class="circle">
  </div>
  <article class="centrum">
    <h3>Let's play</h3>
    <form class="" action="/register" method="get">
      <button type="submit" name="button">Begin</button>
    </form>

  </article>
</section>
