<section>
  <div>
    <div>
      <h1>Hi, Welkom</h1>
    </div>
    <div>
      <form class="" action="login.hbs" method="post">
        <label for="username">Gebruikersnaam</label>
          <input type="text" name="username" value="">
        <label for="password">Wachtwoord</label>
          <input type="password" name="" value="">
        <input type="submit" value="Inloggen" class="submitKnop">
      </form>
    </div>
    <a href="register.hbs">Nog geen account? Klik hier om te registreren</a>
  </div>
</section>
