<section>
  <div>
      <p>Hallo, wat leuk dat je er bent. Om een juiste match te vinden hebben we eerst wat informatie van u nodig.</p>
      <form class="" action="/addname" method="post">
        <input type="text" name="naam" value="" placeholder="Naam" required>
          <input type="option" name="leeftijd" value="" placeholder="Leeftijd" required>
            <input type="text" name="hallo" value="" placeholder="Hallo"  required>
            <button type="submit" name="button">Volgende</button>
      </form>
  </div>
</section>
