<link rel="stylesheet" href="css/landingspagina.css">

<main>
  <section>
    <div class="instellingen">
      <img src="../images/instellingen.svg" alt="">
      <p>Filter</p>
    </div>
    <div class="filter">
      <h5>Zoek je tegenstander</h5>
      
    </div>
  </section>
</main>
