<link rel="stylesheet" href="css/matches.css">


<main>
  <section>
    <div>
        <h3>Dit kunnen jouw tegenstanders zijn</h3>
    </div>
    {{#each renderData}}
    <div class="matches">
      <p>Naam: {{this.naam}}</p>
      <p>Leeftijd: {{this.leeftijd}}</p>
      <p> Categorie: {{this.favspel}}</p>
      <p>Uit: {{this.provincie}}</p>
      <button type="button" name="button">
        MATCH!
      </button>
    </div>
    {{/each}}
  </section>
</main>
