<link rel="stylesheet" href="css/filterCss.css">


<section>
  <h4>Wie wordt jouw match?</h4>
<table>
  <table>
    <tr>
      <th>Categorie</th>
      <th>Provincie</th>
    </tr>
          {{#each renderData}}
    <tr>
      <td>{{this.favspel}}</td>
      <td>{{this.provincie}}</td>
    </tr>
        {{/each}}
  </table>
</section>
