body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  box-sizing: border-box;
}

:root {
  --main-color: #f0f0f0;
  --main-font: 'Krona One', sans-serif;
  --secondary-color: #171616cc;
}

header {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: var(--main-font);
  color: #fff;
  ;
  background-color: var(--secondary-color);
}

#menuIcon {
  width: 15%;
  height: 50%;
  position: absolute;
  left: 1em;
  background-image: url(../images/filter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#menu {
  height: 60vh;
  width: 60vw;
  background-color: #ffffff;
  border: 1px solid;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
}

#menu>ul {
  margin: 0;
  padding: 0;
}

#menu>ul>li>a {
  text-decoration: none;
  font-family: var(--main-font);
}

.laatMenuZien {
  animation: slowShow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

/* confirm text slowshow */
@keyframes showSlow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
 section {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family: var(--main-font);
 }

#menu>h3 {
  font-size: 1em;
  color: #000;
}

form {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

form>button {
  border: none;
  background-color: #fff;
  color: #000;
  font-family: var(--main-font);
  height: 5vh;
  width: 40vw;
  border-radius: 2px;
  font-size: 1em;
}
