body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  box-sizing: border-box;
}

:root {
  --main-color: #f0f0f0;
  --main-font: 'Krona One', sans-serif;
  --secondary-color: #171616cc;
}

h4 {
  font-family: var(--main-font);
}

header {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: var(--main-font);
  color: #fff;
  ;
  background-color: var(--secondary-color);
}

li {
  list-style-type: none;
}

section:first-of-type {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
