body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  box-sizing: border-box;
}

:root {
  --main-color: #dae3c2;
  --main-font: 'Krona One', sans-serif;
  --secondary-color: #171616cc;
}

h1,h2,h3,h4,h5, p {
  font-family: var(--main-font);
}

header {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: var(--main-font);
  color: #fff;
  background-color: var(--secondary-color);
}

main > section:first-of-type {
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

main > section:first-of-type > div:first-of-type {
  width: 75vw;
  height: 5vh;
  border-radius: 43px;
  position: absolute;
  right: 10vw;
  top: 3vh;
  background-color: white;
  padding: 1%;
}

main>section:first-of-type>div>p {
  float: right;
  margin: 3%;
}

main>section:first-of-type>div>img {
  width: 10%;
  margin: 1%;
}

/* Div voor filteren */
main > section > div:nth-of-type(2){

  visibility: hidden;
}

.laatFilterZien {
  display: flex;
  justify-content: center;

  visibility: visible !important;
  height: 75vh;
  width: 75vw;
  position: absolute;
  background-color: #fff;
  margin-top: 15%;
  left: 14%;
}


/* Animaties komen hier */
@keyframe instellingenBtn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
