body {
  margin: 0;
  padding: 0;
  background-color:  var(--main-color);
  box-sizing: border-box;
}

:root {
  --main-color: #f0f0f0;
  --main-font: 'Krona One', sans-serif;
  --secondary-color: #171616cc;
}

header  {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: var(--main-font);
  color: #fff;;
  background-color: var(--secondary-color);
}

h1,h2,h3,h4,h5,p {
  font-family: var(--main-font);
}


#menuIcon {
  width: 15%;
  height: 50%;
  position: absolute;
  left: 1em;
  background-image: url(../images/filter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#menu {
  height: 60vh;
  width: 60vw;
  background-color: #ffffff;
  border: 1px solid;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
}

#menu >  ul {
  margin: 0;
  padding: 0;
}

#menu > ul > li > a{
  text-decoration: none;
  font-family: var(--main-font);
}

.laatMenuZien {
  animation: slowShow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

/* confirm text slowshow */
@keyframes showSlow {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#menu > h3 {
  font-size: 1em;
  color: #000;
}


main {
  height: 80vh;
  width: 100%;
}

main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section > div:first-of-type {
  height: 10vh;
  width: 100%;
  color: #424242;
  text-align: center;
}

.matches{
margin-top: 5vh;
color: #fff;
height: 50vh;
width: 70vw;
border: 2px solid;
display: flex;
flex-direction: column;
align-items: center;
background-image: url("../images/filterBg.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.matches > button {
  height: 13%;
padding: 5px;
border: none;
width: 55%;
background-color: antiquewhite;
border-radius: 5px;
color: #363636d9;
font-weight: 800;
font-size: 1em;
}
