body {
  margin: 0;
  padding: 0;
}

header  {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #fff;
}



header::after {
  content: "Boardgames";
  position: absolute;
  top: 0;
  left:0;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
}


section:first-of-type {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

fieldset {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: none;
  margin-top: 10vh;
}

.submitKnop {
  width: 50%;
  margin-top: 10%;
}
